.topleft {
  top: 0;
  left: 0;
}
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
.box {
  width: 100%;
  height: 100%;
  overflow: hidden;
  perspective: 1500px;
  transform-style: preserve-3d;
  position: relative;
  background: linear-gradient(to left bottom, lightcoral, lightblue);
  background: -webkit-linear-gradient(top right, lightcyan, lightblue);
}
.box .card {
  width: 400px;
  height: 550px;
  margin: 40px auto;
  text-align: center;
  border-radius: 10px;
  border-top: 1px solid transparent;
  z-index: 1;
  transform-style: preserve-3d;
  position: relative;
}
.box .card .photo {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: block;
  background: 550px 550px url(../img/600x600.jpg) no-repeat;
  background-position: -75px 0;
  border-radius: 10px;
  position: absolute;
}
.box .card h2 {
  margin-top: 150px;
}
.box .card h2,
.box .card h3 {
  font-size: 32px;
}
.box .card .size {
  font-size: 40px;
}
.box .card .none {
  opacity: 0;
}
.box .card .chart {
  width: 350px;
  height: 50px;
  padding: 11px 32px;
  transform-style: preserve-3d;
}
.box .card .chart .bar {
  width: 28px;
  height: 28px;
  background: white;
  float: left;
  margin: 0 10px;
  transform: rotateZ(-45deg);
  display: inline-block;
  transform-style: preserve-3d;
}
.box .card .chart .bar span {
  opacity: 0;
}
.box .card .chart .bar .opa {
  opacity: 1;
}
.box .card .chart .bar1 {
  transition: 0.5s all 0.3s;
}
.box .card .chart .bar1::before {
  height: 28px;
  padding-right: 15px;
  text-align: right;
  display: block;
  background: lightcyan;
  position: absolute;
  top: 0;
  left: 0;
  transform-origin: 0 50% 0;
  content: '20000';
  width: 185px;
  transform: rotateY(-90deg) translateX(-200px);
}
.box .card .chart .bar1::after {
  content: '';
  width: 28px;
  display: block;
  background: lightblue;
  position: absolute;
  top: 0;
  left: 0;
  transform-origin: 50% 0 0;
  transform: rotateX(-90deg) translateZ(28px);
  height: 200px;
}
.box .card .chart .bar1.active {
  transform: rotateZ(-60deg) translateZ(200px);
}
.box .card .chart .bar2 {
  transition: 0.5s all 0.2s;
}
.box .card .chart .bar2::before {
  height: 28px;
  padding-right: 15px;
  text-align: right;
  display: block;
  background: lightcyan;
  position: absolute;
  top: 0;
  left: 0;
  transform-origin: 0 50% 0;
  content: '10000';
  width: 85px;
  transform: rotateY(-90deg) translateX(-100px);
}
.box .card .chart .bar2::after {
  content: '';
  width: 28px;
  display: block;
  background: lightblue;
  position: absolute;
  top: 0;
  left: 0;
  transform-origin: 50% 0 0;
  transform: rotateX(-90deg) translateZ(28px);
  height: 100px;
}
.box .card .chart .bar2.active {
  transform: rotateZ(-60deg) translateZ(100px);
}
.box .card .chart .bar3 {
  transition: 0.5s all 0.1s;
}
.box .card .chart .bar3::before {
  height: 28px;
  padding-right: 15px;
  text-align: right;
  display: block;
  background: lightcyan;
  position: absolute;
  top: 0;
  left: 0;
  transform-origin: 0 50% 0;
  content: '15000';
  width: 135px;
  transform: rotateY(-90deg) translateX(-150px);
}
.box .card .chart .bar3::after {
  content: '';
  width: 28px;
  display: block;
  background: lightblue;
  position: absolute;
  top: 0;
  left: 0;
  transform-origin: 50% 0 0;
  transform: rotateX(-90deg) translateZ(28px);
  height: 150px;
}
.box .card .chart .bar3.active {
  transform: rotateZ(-60deg) translateZ(150px);
}
.box .card .chart .bar4 {
  transition: 0.4s all 0.1s;
}
.box .card .chart .bar4::before {
  height: 28px;
  padding-right: 15px;
  text-align: right;
  display: block;
  background: lightcyan;
  position: absolute;
  top: 0;
  left: 0;
  transform-origin: 0 50% 0;
  content: '24000';
  width: 225px;
  transform: rotateY(-90deg) translateX(-240px);
}
.box .card .chart .bar4::after {
  content: '';
  width: 28px;
  display: block;
  background: lightblue;
  position: absolute;
  top: 0;
  left: 0;
  transform-origin: 50% 0 0;
  transform: rotateX(-90deg) translateZ(28px);
  height: 240px;
}
.box .card .chart .bar4.active {
  transform: rotateZ(-60deg) translateZ(240px);
}
.box .card .chart .bar5 {
  transition: 0.5s all 0.1s;
}
.box .card .chart .bar5::before {
  height: 28px;
  padding-right: 15px;
  text-align: right;
  display: block;
  background: lightcyan;
  position: absolute;
  top: 0;
  left: 0;
  transform-origin: 0 50% 0;
  content: '7000';
  width: 55px;
  transform: rotateY(-90deg) translateX(-70px);
}
.box .card .chart .bar5::after {
  content: '';
  width: 28px;
  display: block;
  background: lightblue;
  position: absolute;
  top: 0;
  left: 0;
  transform-origin: 50% 0 0;
  transform: rotateX(-90deg) translateZ(28px);
  height: 70px;
}
.box .card .chart .bar5.active {
  transform: rotateZ(-60deg) translateZ(70px);
}
.box .card .chart .bar6 {
  transition: 0.5s all 0.2s;
}
.box .card .chart .bar6::before {
  height: 28px;
  padding-right: 15px;
  text-align: right;
  display: block;
  background: lightcyan;
  position: absolute;
  top: 0;
  left: 0;
  transform-origin: 0 50% 0;
  content: '7000';
  width: 55px;
  transform: rotateY(-90deg) translateX(-70px);
}
.box .card .chart .bar6::after {
  content: '';
  width: 28px;
  display: block;
  background: lightblue;
  position: absolute;
  top: 0;
  left: 0;
  transform-origin: 50% 0 0;
  transform: rotateX(-90deg) translateZ(28px);
  height: 70px;
}
.box .card .chart .bar6.active {
  transform: rotateZ(-60deg) translateZ(70px);
}
.box .card .chart .bar7 {
  transition: 0.5s all 0.3s;
}
.box .card .chart .bar7::before {
  height: 28px;
  padding-right: 15px;
  text-align: right;
  display: block;
  background: lightcyan;
  position: absolute;
  top: 0;
  left: 0;
  transform-origin: 0 50% 0;
  content: '0000';
  width: 85px;
  transform: rotateY(-90deg) translateX(-100px);
}
.box .card .chart .bar7::after {
  content: '';
  width: 28px;
  display: block;
  background: lightblue;
  position: absolute;
  top: 0;
  left: 0;
  transform-origin: 50% 0 0;
  transform: rotateX(-90deg) translateZ(28px);
  height: 100px;
}
.box .card .chart .bar7.active {
  transform: rotateZ(-60deg) translateZ(100px);
}
.box .card2 {
  transform: rotateX(55deg) translateY(100px);
}
.box .card,
.box .photo,
.box .bar4,
.box h2,
.box p,
.box h3,
.box span {
  transition: all 0.5s;
}
.box .chart,
.box .bar,
.box h2,
.box p,
.box h3 {
  position: relative;
}
.box .card::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  background: rgba(150, 150, 150, 0);
  z-index: 2;
  transition: all 0.5s;
  border-radius: 10px;
}
.box .card.cardbg::before {
  background: rgba(0, 0, 0, 0.5);
}
.box .card::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  background: #464646;
  transition: all 0.5s;
  transform: translateZ(-30px);
  border-radius: 10px;
}
.box .card.cardshadow::after {
  box-shadow: 0 30px 30px #555;
}
